body {
    position: relative;
    width: 1200px;
    height: 2100px;
    background: #FFFFFF;
    } 

header {
    position: absolute;
    width: 555px;
    height: 19px;
    left: 315px;
    top: 71px;
}

p {
    white-space: normal;
}

button {
    position: absolute;
    width: 165px;
    height: 60px;
    left: 500px;
    top: 2000px;
    border: 1px solid #626262;
}

.lifestyle:hover {
    color: red;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    }

.photodiary {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.music {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.travel {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.card1 {
    position: absolute;
    width: 420px;
    height: 546px;
    left: 148px;
    top: 182px;
}

.card2 {
    position: absolute;
    width: 420px;
    height: 546px;
    left: 633px;
    top: 182px;
}

.card3 {
    position: absolute;
    width: 421px;
    height: 516px;
    left: 147px;
    top: 858px;
    
}

.card4 {
    position: absolute;
    width: 420px;
    height: 516px;
    left: 633px;
    top: 858px;
}

.card5 {
    position: absolute;
    width: 420px;
    height: 516px;
    left: 149px;
    top: 1500px;
    
}

.card6 {
    position: absolute;
    width: 420px;
    height: 516px;
    left: 632px;
    top: 1504px;
}
